@import "tailwindcss";

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}